<section class="_167Mu3 _2hbLCH">
    <div class="_213eRC _2ssEMF">
        <div class="_2gmUFU _3V8rao">Screen size</div>
    </div>
    <div class="_3FPh42">
        <div class="_2d0we9">
            
            <div class="_4921Z t0PfW" title="Core i5">
                <div class="_1Y4Vhm _4FO7b6">
                    <label class="_2iDkf8 t0pPfW">
                        <input type="checkbox" class="_30VH1S" value="Core i5" readonly onclick="showCheckedProducts(value)">
                        <div class="_24_Dny"></div>
                        <div class="_3879cV">Core i5</div>
                    </label>
                </div>
            </div>
            <div class="_4921Z t0PfW" title="Core i3">
                <div class="_1Y4Vhm _4FO7b6">
                    <label class="_2iDkf8 t0pPfW">
                        <input type="checkbox" class="_30VH1S" value="Core i3" readonly onclick="showCheckedProducts(value)">
                        <div class="_24_Dny"></div>
                        <div class="_3879cV">Core i3</div>
                    </label>
                </div>
            </div>
            <div class="_4921Z t0PfW" title="Ryzen 7">
                <div class="_1Y4Vhm _4FO7b6">
                    <label class="_2iDkf8 t0pPfW">
                        <input type="checkbox" class="_30VH1S" value="Ryzen 7" readonly onclick="showCheckedProducts(value)">
                        <div class="_24_Dny"></div>
                        <div class="_3879cV">Ryzen 7</div>
                    </label>
                </div>
            </div>
            <div class="_4921Z t0PfW" title="Ryzen 5">
                <div class="_1Y4Vhm _4FO7b6">
                    <label class="_2iDkf8 t0pPfW">
                        <input type="checkbox" class="_30VH1S" value="Ryzen 5" readonly onclick="showCheckedProducts(value)">
                        <div class="_24_Dny"></div>
                        <div class="_3879cV">Ryzen 5</div>
                    </label>
                </div>
            </div>
            <div class="_4921Z t0PfW" title="Core i9">
                <div class="_1Y4Vhm _4FO7b6">
                    <label class="_2iDkf8 t0pPfW">
                        <input type="checkbox" class="_30VH1S" value="Core i9" readonly onclick="showCheckedProducts(value)">
                        <div class="_24_Dny"></div>
                        <div class="_3879cV">Core i9</div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>