

<div id="myDiv1" class="_331-kn _2tvxW" style="visibility: visible; top: 28px;">
    <div class="InyRMC _3Il5oO" data-tkid="M_9fd34eca-2439-4671-ac3e-cdcd9df5d807_1_372UD5BXDFYS" style="box-shadow: 0 0.2px;">
        <div class="_37M3Pb">
            <div class="eFQ30H">
                <div class="_1mKliO">
                    <div class="CXW8mj" style="height: 64px; width: 64px;">
                        <img class="_396cs4  _3exPp4" src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="Top offers">
                    </div>
                </div>
                <div class="xtXmba">Top offers</div>
            </div>
            <!-- <div class="eFQ30H">
                <div class="_1mKliO">
                    <div class="CXW8mj" style="height: 64px; width: 64px;">
                        <img class="_396cs4  _3exPp4" src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="Top offers">
                    </div>
                </div>
                <div class="xtXmba">Top offers</div>
            </div> -->
            <div class="eFQ30H">
                <div class="_1mKliO">
                    <div class="CXW8mj" style="height: 64px; width: 64px;">
                        <img class="_396cs4  _3exPp4" src="https://rukminim1.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100" alt="Grocery">
                    </div>
                </div>
                <div class="xtXmba">Grocery</div>
            </div>
            <div class="eFQ30H" onclick="loadTemplate('multiple', `Mobiles`)">
                <div class="_1mKliO">
                    <div class="CXW8mj" style="height: 64px; width: 64px;">
                        <img class="_396cs4  _3exPp4" src="https://rukminim1.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100" alt="Mobiles">
                    </div>
                </div>
                <div class="xtXmba">Mobiles</div>
            </div>
            <div class="eFQ30H">
                <div class="_1mKliO">
                    <div class="CXW8mj" style="height: 64px; width: 64px;">
                        <img class="_396cs4  _3exPp4" src="https://rukminim1.flixcart.com/flap/128/128/image/c12afc017e6f24cb.png?q=100" alt="Fashion">
                    </div>
                </div>
                <div class="xtXmba">Fashion</div>
            </div>
            <div class="eFQ30H" onclick="loadTemplate('multiple', `Laptops`)">
                <div class="_1mKliO">
                    <div class="CXW8mj" style="height: 64px; width: 64px;">
                        <img class="_396cs4  _3exPp4" src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="Electronics">
                    </div>
                </div>
                <div class="xtXmba">Electronics</div>
            </div>
            <div class="eFQ30H">
                <div class="_1mKliO">
                    <div class="CXW8mj" style="height: 64px; width: 64px;">
                        <img class="_396cs4  _3exPp4" src="https://rukminim1.flixcart.com/flap/128/128/image/ab7e2b022a4587dd.jpg?q=100" alt="Home">
                    </div>
                </div>
                <div class="xtXmba">Home</div>
            </div>
            <div class="eFQ30H" onclick="loadTemplate('multiple', `TV`)">
                <div class="_1mKliO">
                    <div class="CXW8mj" style="height: 64px; width: 64px;">
                        <img class="_396cs4  _3exPp4" src="https://rukminim1.flixcart.com/flap/128/128/image/0ff199d1bd27eb98.png?q=100" alt="Appliances">
                    </div>
                </div>
                <div class="xtXmba">Appliances</div>
            </div>
            <div class="eFQ30H">
                <div class="_1mKliO">
                    <div class="CXW8mj" style="height: 64px; width: 64px;">
                        <img class="_396cs4  _3exPp4" src="https://rukminim1.flixcart.com/flap/128/128/image/71050627a56b4693.png?q=100" alt="Travel">
                    </div>
                </div>
                <div class="xtXmba">Travel</div>
            </div>
            <div class="eFQ30H">
                <div class="_1mKliO">
                    <div class="CXW8mj" style="height: 64px; width: 64px;">
                        <img class="_396cs4  _3exPp4" src="https://rukminim1.flixcart.com/flap/128/128/image/dff3f7adcf3a90c6.png?q=100" alt="Toys & more">
                    </div>
                </div>
                <div class="xtXmba">Toys & more</div>
            </div>
        </div>
    </div>
</div>


<input type="button" value="logout" class="btn btn-secondary logoutBtn" onclick="logoutUser()" >

<div>
    <a href="#"><i class="bi bi-basket non-empty"  onclick="showMenu()" ></i></a>
</div>

<div id="productDetailsBlock">
     
</div>

<div><h6 class="categhead" style="top: 160px;">Recommended Products</h6> </div>

