@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.small-container{
    max-width: 1000px;
    margin: auto;
    margin-left: 25px;
    padding-right: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.single-product{
    margin-top: 80px;
}
.small-img-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -129px;
    width: 539px;
}
/* .col-2 img{
    max-width: 100%;
    padding: 50px 0;
} */
/* .small-img-col{
    flex-basis: 24%;
    cursor: pointer;
} */
/* .single-product .col-2 img{
    padding: 15px;
} */
/* .single-product .col-2{
    padding: 20px;
} */
.col-2{
    /* flex-basis: 50%; */
    min-width: 300px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 336px;
    height: 40px;
    padding-left: 11px;
    font-size: 22px;
    margin-right: 10px;
    border: none;
    margin-left: 9px;
    border-bottom: 2px solid #2874f0;
    margin-top: 10px;
}
 /* #check{
    margin-left: 821px;
    margin-top: 17px;
    font-size: 20px;
} */

 button.btn.btn-primary.border{
    margin-left: 263px;
    margin-top: -71px;
}


input:focus{
    text-decoration: none;
    color: #555;
}
.single-product .fa{
    color:#ff523b;
    margin-left: 10px;
}
/* .paragraph{
    margin-top: -190px;
    margin-bottom: 1rem;
    color: Black;
} */
.btn-cart{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    cursor: pointer;
    /* font-size: 27px; */
    text-decoration: none;
}
/* .btn-cart:hover{
    background: #563434;
} */

.btn-buy-now{
    display: inline-block;
    background: #ffde3b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    cursor: pointer;
    /* font-size: 27px; */
    text-decoration: none;
}

.products_type{
    margin-top: -16px;
    margin-left: 38px;
    cursor: pointer;
    font-size: 15px;
}
.products_type:hover{
    color: #2874f0;
}
.prod{
    margin-left: 83px;
    margin-top: -26px;
    font-size: 15px;
}

/* ._3YTZ{
    margin-left: 152px;
    margin-top: -25px;
    font-size: 15px;
} */

.row>*{
    flex-shrink: 0;
    /* width: 100%; */
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    margin-bottom: 50px;
}

._3LWZlK{
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    vertical-align: middle;
    background-color: #388e3c;
    /* margin-left: 1px; */
}

.review{
    padding-left: 64px;
    font-weight: 500;
    color: #878787;
    margin-top: -29px;
    font-size: 21px;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    /* background-color: #eee; */
  }
  ul.breadcrumb li {
    display: inline;
    /* font-size: 18px; */
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .heart{
    position: absolute;
    top: 180px;
    left: 348px;
  }